body{
    background-color: #E6E6FA !important;
}
nav{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}
.nav-link{
    font-weight: bold; 
}
/*the customization for the tags is here */
.nav-link:hover{
    font-style: italic;
    font-weight: bolder;
    background-color: #07f7fd !important;
}
header{
    color: orange;
    height: 300px;
    width: 100%;
    background-image: url("cover.jpeg");
    background-size:cover;
    text-align: center;
}
header p{
    font-style: italic;
    color: purple;
}
header h1{
    color: red;
}
.services {
    text-align: center;
}
.services i{
    /*adjust size and position of the icon*/
    font-size: 30px;
    padding: 10px 15px;
    /*Color changes the color of the icon*/
    color: #fff;
    background-color: #000;
    
    width:65px;
    height: 50px;
    
    border-radius: 90%;
}

.services span {
    width: 200px;
    display: inline-block;
}
/*this is the teams section and the image that is presented within that area*/
.teams img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
/* style size for text area in contacts section the big box*/
.contacts textarea {
    height: 200px;
    width: 100%;
}.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.info{
    text-align: center;
    padding: 40px;
}

footer {
    background-color: #7a7577;
}
